@{
    ViewBag.Title = "Home Page";
}

<link href="statics/css/dataTable/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet">

<script src="statics/js/dataTable/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="statics/js/dataTable/dataTables.bootstrap.min.js" type="text/javascript"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <table class="table table-bordered table-hover table-striped" id="dutyListTable">
        <thead>
            <tr>
                <th>选择</th>
                <th>实际值班人</th>
                <th>值班日期</th>
                <th>班次类别</th>
            </tr>
        </thead>
        <tbody id="rewardBody"></tbody>
    </table>

</div>



<script type="text/javascript">

      var dutyTable =  $("#dutyListTable").dataTable({

        "destroy" : true,       //销毁表格对象
        "aLengthMenu":[5,10],  //用户可自选每页展示数量 5条或10条
        "searching":false,//禁用搜索（搜索框）
        "lengthChange":true,
        "paging": true,//开启表格分页
        "bProcessing" : true,
        "bServerSide" : true,
        "bAutoWidth" : false,
//                  "sort" : "position",
        "deferRender":true,//延迟渲染
//                  "bStateSave" : false, //在第三页刷新页面，会自动到第一页
//         "retrieve" : true,       //类似单例模式，重复利用以存在对象。
        "iDisplayLength" : 5,
        "iDisplayStart" : 0,

        "select": {
            style:    'os',
            selector: 'td:first-child'
        },
        "ordering": false,//全局禁用排序
        "ajax": {  //ajax方式向后台发送请求
            "type": "POST",
            "url":"mvc/onDuty/find-user-duty",
            "data":{dutyUserId:uid},//传递的数据
            "dataType" : "json"
        },
        "columns" : [//对接收到的json格式数据进行处理，data为json中对应的key
            {"data":"id"},
            {"data" : "actualDutyUser.realName"} ,
            {"data" : "onDutyDate"},
            {"data": "categoryKey.typeName.keyValue"},

        ],
        //渲染
         "columnDefs": [
             {
                 "render": function ( data, type, row ) {
                     return "<input type='radio' name='onDutyToId'  value='" + data + "'>";
                 },
                 "targets": 0 //指定渲染列：第一列(渲染第一列为单选框，data自动匹配为  {"data":"id"}中数据）
             },
         ],
        "oLanguage" : { // 国际化配置
            "sProcessing" : "正在获取数据，请稍后...",
            "sLengthMenu" : "显示 _MENU_ 条",
            "sZeroRecords" : "没有找到数据",
            "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty" : "记录数为0",
            "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
            "sInfoPostFix" : "",
            "sSearch" : "查询",
            "sUrl" : "",
            "oPaginate" : {
                "sFirst" : "第一页",
                "sPrevious" : "上一页",
                "sNext" : "下一页",
                "sLast" : "最后一页"
            }
        },
//                  initComplete:initComplete,
    });
</script>
