@{
    /**/

    ViewBag.Title = "Home Page";


}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline">

                    <div class="form-group">
                        <label for="" style="margin-right: 3px;">
                            有了下面的排行,日上三竿不起床
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="type" style="margin-right: 3px;">交易类型:</label>
                        <select class="form-control" style="width: 100px;" id="type" name="type">
                            <option selected="selected" value="all">all</option>
                            <option value="usdt">usdt</option>
                            <option value="btc">btc</option>
                            <option value="eth">eth</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="" style="margin-left: 3px;">
                            日期:
                        </label>
                        <input class="form-control" style="width: 150px;" id="startTime" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" type="text" placeholder="起始时间" />
                    </div>
                    <div class="form-group" style="margin-left: 3px;">
                        <button id="queryBtn" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            查询
                        </button>

                    </div>
                </form>
            </div>
            <!-- /.panel-heading -->
            <!-- /.panel-body -->
            <div class="panel-body">
                <div class="dataTable_wrapper">

                    <table class="table table-bordered table-hover table-striped" id="dutyListTable">
                        <thead>
                            <tr>
                                <th>交易对</th>
                                <th>开盘价</th>
                                <th>最新价</th>
                                <th>涨幅</th>
                                <th>时间</th>
                                @*<th>实际值班人</th>
                    <th>值班日期</th>
                    <th>班次类别</th>*@
                            </tr>
                        </thead>
                        <tbody id="rewardBody"></tbody>
                    </table>

                </div>
         
    </div>
</div>

@Scripts.Render("~/bundles/datepicker")

@section scripts {

    <script>

        var table = null;



        $(function () {
            table = $("#dutyListTable").DataTable({
                "data": null,
                "paging": true,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "info": false,
                "oLanguage": {
                    // 语言设置
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "检索:",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
                columns: [
                    {
                        data: 'coin_type',
                        "render": function (data, type, full, meta) {

                            return data + " / " + full.token_type;
                        }
                    },
                    //{
                    //    data: 'token_type'
                    //},
                    {
                        data: 'open_price',
                        "render": function (data, type, full, meta) {

                            var node = "<label> data </label>" + "<br>" + "<label>"+ data*full.rate +"</label>";
                          
                            return node;
                        }

                    },
                    {
                        data: 'close_price',
                        "render": function (data, type, full, meta) {

                            var node = "<label> data </label>" + "<br>" + "<label>" + data * full.rate + "</label>";

                            return node;
                        }
                    },
                    {
                        data: 'rose',
                        "render": function (data, type, full, meta) {

                            return (data * 100).toFixed(2) + "%";
                        }
                    },
                    {
                        data: 'last_time',
                        "render": function (data, type, full, meta) {

                            return ul_getTimeText(data);
                        }
                    }
                ]
            });

            gettabledata();


            $("#queryBtn").click(function () {
                gettabledata();
            });

        });


         function gettabledata()
         {
             var time = $("#startTime").val();

             var type = $("#type").val();

                $.ajax({  //ajax方式向后台发送请求
                "type": "POST",
                "url": "@Url.Action( "GetSymbols")",
                "data": { type:type,time:time},//传递的数据
                "dataType": "json",
                "success": function (d) {

                        table.clear().draw(); //删除记录
                        $.each(d, function () {
                            table.row.add(this).draw();
                        });
                }
                });
        };





    </script>
}