@{
    /**/

    ViewBag.Title = "Home Page";


}


<div class="row">
    <table class="table table-bordered table-hover table-striped" id="dutyListTable">
        <thead>
            <tr>
                <th>选择</th>

                <th>选择</th>
                @*<th>实际值班人</th>
        <th>值班日期</th>
        <th>班次类别</th>*@
            </tr>
        </thead>
        <tbody id="rewardBody"></tbody>
    </table>

</div>


@section scripts {

    <script>

        var table = null;

        function gettabledata()
        {
                $.ajax({  //ajax方式向后台发送请求
                "type": "POST",
                "url": "@Url.Action( "GetSymbols")",
                "data": { },//传递的数据
                "dataType": "json",
                "success": function (d) {

                        table.clear().draw(); //删除记录
                        $.each(d, function () {
                            table.row.add(this).draw();
                        });
                }
                });
        };

        $(function () {
            table = $("#dutyListTable").DataTable({
                "data": null,
                "paging": false,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "info": false,
            'language': {
                "emptyTable": "没有相关数据"
            },
            columns: [
                { data: 'id' },
          
                {
                    data: 'id',
                    "render": function (data, type, full, meta) {
                        return "你好";
                    }
                }

            ]
            });

            gettabledata();

           
        });
       

    </script>
}