body {
    background: #eee;
    font-size: 13px;
    z-index: -1;
}
.menu {
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 4;
    display: none;
}
.logo {
    width: 50px;
    height:100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    vertical-align:middle;
}
.menulist {
    width: 250px;
    margin-left:0px;
    height: 100%;
    position: relative;
    background: #fff;
}