body {
    background: #eee;
    font-size: 12px;
    z-index: -1;
}
.pageheader {
    height: 50px;
    background: rgb(0,122,255);
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}
.menu {
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 4;
    display: none;
}
.logo {
    width: 50px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -25px;

    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: white;
}
.menupage {
    width: 250px;
    margin-left: -250px;
    height: 100%;
    position: relative;
    background: #fff;
    transition: all 0.5s;
}

.menupageheader {
    height: 50px;
    background: rgb(0,122,255);
    width: 100%;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
}
