<!--页脚部分-->
<div id="footer_wrapper" class="col-md-12">
    <footer>
        <ul>
            <li><a href="content.html">版权信息</a></li>
            <li><a href="content.html">站点地图</a></li>
            <li><a href="content.html">联系我们</a></li>
        </ul>
        <p>Copyright ©2016 WMBlog</p>
    </footer>
</div>
<!--页脚部分结束-->