<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>抱歉,服务器挂了..管理员正在默哀</h1>
    </hgroup>
</body>
</html>
