@{
    Layout = null;
}


@{
    ViewBag.Title = "嘻嘻";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6646781072477084",
            enable_page_level_ads: true
        });
    </script>
</head>


<div class="container">

    <div class="jumbotron" style="text-align:center">
        <h3>如何在饮食习惯像猪一样的同时保持完美身材?</h3>
        <h5>(答案在最下面)</h5>
    </div>

    <div class="jumbotron" style="text-align:center">
        <h5>想的美。</h5>
    </div>
</div>
