<!--导航-->

<div class="pageheader">
    
    <div style="width:100%">
        <div class="pageheadericon" style="float:left;">

            <img id="menubtn" style="width:100%;height:100%" src="~/res/菜单.png" />
        </div>

        <div class="logo">
            岁月
        </div>

        @*<div style="float:right;display:inline;margin-right: 10px;background-color:blueviolet;">
            <img src="~/res/头像.png" style="vertical-align: middle;" />
        </div>*@
        <div class="pageheadericon" style="float:right;">

            <img id="menubtn" style="width:100%;height:100%" src="~/res/头像.png" />
        </div>
    </div>

@*@section Scripts
{
        <script>

            //左侧导航菜单出现
            $('#menubtn').click(function () {
                $('#leftnav').fadeIn('100');
                //setTimeout(function () {
                //    $('.memu .list').css('margin-left', 0)
                //}, 100)
                $('body').css('overflow', 'hidden')
            });
        </script>
}*@


</div>

