<!--导航-->
<link href="~/css/page_head.css" rel="stylesheet" />

<nav class="navbar navbar-default navbar-fixed-top">
    <div style="width:100%">

        <div style="float:left;margin-left: 10px;display:inline ;background-color:red;">
            @*<a href="">
                <img src="~/res/菜单.png" style="vertical-align: middle;" />
            </a>*@

            <a href="~/Views/Shared/LeftNav.cshtml"> <img src="~/res/菜单.png" style="vertical-align: middle;" /></a>
        </div>

        <div class="logo">
           
            <div style="display:inline;width:50px;text-align:center" >
                哈哈
            </div>   
           
        </div>

        <div style="float:right;display:inline;margin-right: 10px;background-color:blueviolet;">
            <img src="~/res/头像.png" style="vertical-align: middle;" />
        </div>
    </div>
</nav>
<!--导航-->