
<nav class="menu">
    <div class="menupage">
        <div class="menupageheader">
            <div class="navtxt">
                导航
            </div>
            <div class="back">
                <img src="~/res/返回.png" />
            </div>
        </div >
               <ul  class="navlist">
                   <li>
                       <a href="#">岁月</a>
                   </li>
                   <li>
                       <div>烟火</div>
                       <ul style="display:none">
                           <li>
                               <a href="#">岁月</a>
                           </li>
                           <li>
                               <a href="#">烟花</a>
                           </li>
                           <li>
                               <a href="#">天赋</a>
                           </li>
                       </ul>
                   </li>
                   <li>
                       <a href="#">天赋</a>
                   </li>
               </ul>

    </div>

    </div>
    <div class="form" style="margin-top:50px">

    </div>
</nav>
<script>
    $('.navlist>li').click(function (e) {
    e.stopPropagation();
    if ($(this).find('ul').length > 0 && !$(this).hasClass('active')) {
        $('.navlist>li').find('ul').hide();
        $('.navlist>li').removeClass('active');
        $(this).find('ul').slideDown('fast');
        $(this).addClass('active');
    } else {
        $(this).find('ul').slideUp('fast');
        $(this).removeClass('active');
    }
    });
    //$('.menu').click(function () {

    //    //if ($(this).attr('href') != null) {
    //    //    setTimeout("top.location.href = '" + $(this).attr('href') + "'", 400);
    //    //}
    //    $('.menupage').css('margin-left', getrem('-500px'))
    //    setTimeout(function () {
    //        $('.menu').fadeOut('100')
    //    }, 100)
    //    return false
    //});
    $('.memuheader .back,.memu a').click(function () {
        if ($(this).attr('href') != null) {
            setTimeout("top.location.href = '" + $(this).attr('href') + "'", 400);
        }
        $('.memu .list').css('margin-left', '-250px')
        setTimeout(function () {
            $('.memu ').fadeOut('100')
        }, 100)
        return false
    });
</script>